/* fonts */
.error{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
color: red;
margin-left: 65%;
margin-top: 8%;
}
body{
    margin: 0%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
h2{
    font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 200%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: small;

}


.connection_body{
    display: flex;
    /* background-color: rgb(153, 153, 153); */
    width: 100%;
    height: 100vh;
}


.photo{
 display: flex;   
background-color: aqua;
width: 50%;
align-items: center;
justify-content: center;

}
.photo_text{
    position: absolute;

    color: #ffffff;
  align-self: center;
    top: 35%;
/* top: 35px; */
/* margin-left: 17%; */
/* margin-top: 14%; */

    }
    .logo{
        position: absolute;
        width: 4.5%;
        top: 15%;


    }
    .photo_text2{
        /* margin-top: 14%; */
        
                position: absolute;
            
                color: #ffffff;
              align-self: center;
                
            top: 30%;
            /* margin-left: 17.2%; */
            
                }
    

/* connection page */
.box{
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    justify-content: center;
    /* justify-content: space-around; */
}
.mainPhoto{
    width: 100%;
    height: 100vh;
    /* object-fit: fill; */
    rotate: 180deg;
    object-fit: cover;
    /* position: relative; */
    position: relative;
    
}


/* header{
    background-color: darkgoldenrod;
    height: 50px;
} */

ul{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 196, 196);
    width: 100%;
    list-style: none;
    padding: 0%;
    height: 50px;
    
    /* justify-content: center; */
    
    
    
}
.navBar{
    /* background-color: rgb(185, 185, 185); */
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    
    
}

a{
    text-decoration: none;
    color: #042B3A;
    font-family: 'Lato', sans-serif;
    font-size: small;
    
}
.connection_form{
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 60%;
    height: 50%;
    align-items: center;
    margin-top: 18%;
    /* justify-content: space-evenly; */
    
}
.small_link{
            /* background-color: brown; */
            margin-top: 15%;
            
        }
        input{
            border-radius: 25px;
            
            
            border-style:solid;
            
            height: 30%;
            /* width: 80%; */
            margin: 6%;
            justify-content: space-between;
            
        }
        button{
            /* width: 15%; */
            /* background-color: rgb(37, 190, 255); */
            border-radius: 5px;
            border-style: none;
            background: rgb(4,38,50);
            background: linear-gradient(90deg, rgba(4,38,50,1) 0%, rgba(1,82,109,1) 53%, rgba(62,129,203,1) 100%);            width: 15em;
            border-radius: 25px;
            /* height: 25%; */
            /* margin-left: 11%; */
            /* margin-top: 8%;    */
        }
        .sign{
            
            color: #ffffff;
            align-self: center;
            font-size: larger;
        }
        /* .logo{
            width: 5px;
            height: 5px;
        } */
        
        /* sign up page */
        .sign_up_box{
            width: 100%;
           
            /* background-color: brown; */
            height: 70%;
     
        }
        .signup {
            flex-direction: column;
            margin-top: 10%;
            /* background-color: aqua; */
            width: 15%;
            /* height: 50%; */
        justify-content: space-evenly;
        margin-top: -5%;
        
        }
        
        .center{
            display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #ff0909; */
        
        }
        .body_signUP{
            
            /* background-color: cadetblue; */
            height: 100vh;
        }
        /* comments page */
    
    img{
        width: 3em;
    }
    .post{
        /* width: 80%; */
        padding: 1em;
       /* margin: 1em; */
       /* margin: 0%; */
  
        width: 100%;
        
       /* background-color: aqua; */
    }
    table{
        
    }
    td{
        /* display: flex; */
        /* border: 1px solid; */
        padding: 1em;
        
    }
    tr{
    
        background-color: rgb(223, 223, 223);
    
    
    }
    th{
        
       
    }
    .date{
        width: 18%;
    }
    .profil{
        display: flex;
        align-items: center;
        
        justify-content: space-evenly;
    }
    .comment{
        display: flex;
      justify-content: flex-start;
    }
  
        