/* fonts */
.error{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
color: red;
margin-left: 62%;
margin-top: 8%;
/* background-color: blue; */
width: 25%;
}
.error_2{
    /* position: absolute; */
    font-family: 'Montserrat', sans-serif;
color: red;
/* margin-left: 62%; */
margin-top: 8%;
/* background-color: blue; */
width: 25%;
margin-left: 37%;
}
.message{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
color: rgb(1, 109, 151);
margin-left: 64%;
margin-top: 8%;
/* background-color: blue; */
width: 25%;
}

body{
    margin: 0%;
    
}
.profil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height:50%; */
    width: 25%;
    background-color: rgb(216, 216, 216);
    padding-bottom: 10%;
    margin-top: 5%;
    border-radius: 50px;
}
strong{
    /* font-weight: 600; */
    /* font-size: medium; */
    font-weight: 600;
}

div{
    display: flex;
    justify-content: center;
    
}
p{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 0.1em;
    text-indent: 1em;
    letter-spacing: 0.2em;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
h2{
    font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 200%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: small;

}


.connection_body{
    display: flex;
    /* background-color: rgb(153, 153, 153); */
    width: 100%;
    height: 100vh;
}


.photo{
 display: flex;   
/* background-color: aqua; */
width: 50%;
align-items: center;
justify-content: center;

}
.photo_text{
    position: absolute;

    color: #ffffff;
  align-self: center;
    top: 35%;
/* top: 35px; */
/* margin-left: 17%; */
/* margin-top: 14%; */

    }
    .logo{
        position: absolute;
        width: 4.5%;
        top: 15%;


    }
    .logoGit{
    
      
        margin-top: 12%;
      
        


    }
    .photo_text2{
        /* margin-top: 14%; */
        
                position: absolute;
            
                color: #ffffff;
              align-self: center;
                
            top: 30%;
            /* margin-left: 17.2%; */
            
                }
    

/* connection page */
.box{
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    justify-content: center;
    /* justify-content: space-around; */
}
.mainPhoto{
    width: 100%;
    height: 100vh;
    /* object-fit: fill; */
    rotate: 180deg;
    object-fit: cover;
    /* position: relative; */
    position: relative;
    
}

/*//////////////////////// header //////////////*/
.logoHeader{
    width: 6em;
    object-fit: scale-down;
    margin-left: 20%;
  
}
/* header{
    background-color: darkgoldenrod;
    height: 50px;
} */

ul{
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    width: 100%;
    list-style: none;
    padding: 0%;
    height: 50px;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    margin-top: 0%;
    
    
    
}
.navBar{
    /* background-color: rgb(199, 54, 54); */
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    width: 50%;
    align-items: center;
    
    
}

a{
    text-decoration: none;
    color: #042B3A;
    font-family: 'Lato', sans-serif;
    font-size: small;
    
}
.connection_form{
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    width: 60%;
    height: 50%;
    align-items: center;
    margin-top: 18%;
    /* justify-content: space-evenly; */
    
}
.small_link{
            /* background-color: brown; */
            margin-top: 15%;
            
        }
        input{
            border-radius: 25px;
            
            
            border-style:solid;
            
            height: 26%;
         
            margin: 6%;
            justify-content: space-between;
            
            
        }
        button{
            /* width: 15%; */
            /* background-color: rgb(37, 190, 255); */
            border-radius: 5px;
            border-style: none;
            background: rgb(4,38,50);
            background: linear-gradient(90deg, rgba(4,38,50,1) 0%, rgba(1,82,109,1) 53%, rgba(62,129,203,1) 100%);            width: 15em;
            border-radius: 25px;
            height: 25%;
            width:65%;
            /* margin-left: 11%; */
            margin-top: 8%;   
            cursor: pointer;
            margin-left: 22%;
        }
        .sign{
            
            color: #ffffff;
            /* align-self: center; */
            font-size: smaller;
            /* margin: 0%; */
            /* margin-left: 22%; */
        }
        /* .logo{
            width: 5px;
            height: 5px;
        } */
        
        /* sign up page */
        .sign_up_box{
            width: 100%;
           
            /* background-color: brown; */
            height: 70%;
     
        }
        .signup {
            flex-direction: column;
            margin-top: 10%;
            /* background-color: aqua; */
            width: 15%;
            /* height: 50%; */
        justify-content: space-evenly;
        margin-top: -5%;
        
        }
        
        .center{
            display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #ff0909; */
        
        }
        .body_signUP{
            
            /* background-color: cadetblue; */
            height: 100vh;
        }
        /*///////////// comments page ///////////////////*/
        textarea {
            overflow: auto;
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 20px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
          }
    img{
        width: 4em;
    }
    .post{
        /* width: 80%; */
        padding: 1em;
       /* margin: 1em; */
       /* margin: 0%; */
  
        width: 100%;
        
       /* background-color: aqua; */
    }
    table{
        
    }
    td{
        /* display: flex; */
        /* border: 1px solid; */
        padding: 1em;
        
    }
    tr{
    
        background-color: rgb(223, 223, 223);
    
    
    }
    th{
        
       
    }
    .date{
        width: 18%;
    }
    /* .profil{
        display: flex;
        align-items: center;
        
        justify-content: space-evenly;
    } */
    .comment{
        display: flex;
      justify-content: flex-start;
    }
    tr:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    
    /*//////////// home page //////////// */
  
       .home{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: aqua; */
       /* margin-top: 2%; */
       } 
       .video{
        /* height: 35em; */
        width: 100%;
        /* position: relative; */
        /* margin-top: 2%; */
        /* margin-bottom: 2%; */
        height: 100%;
        object-fit: fill;
           
        }  
        .viedo_text{
            position: absolute;
         
            color: #ffffff;
            align-items: center;
           margin-top: 15%;
           background-color: #042835;
           top: 5%;
           padding: 2%;
            height: 20%;
            border-radius: 25px;
            
         
        
            }
            